content/templates/qbr-prep-agent/workflow.json
{
  "name": "QBR Prep Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "triggerAtHour": 9 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://your-crm.example.com/api/meetings?type=QBR&date_range=next_14_days",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {}
      },
      "id": "fetch-upcoming-qbrs",
      "name": "Fetch Upcoming QBRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-qbrs",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "has-upcoming-qbrs",
      "name": "Any QBRs Coming Up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://your-crm.example.com/api/accounts/{{ $json.account_id }}",
        "options": {}
      },
      "id": "fetch-account-data",
      "name": "Fetch Account Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://your-analytics.example.com/api/usage?account_id={{ $json.account_id }}&period=90d",
        "options": {}
      },
      "id": "fetch-usage-metrics",
      "name": "Fetch Usage Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.gong.io/v2/calls?account_id={{ $json.account_id }}&from_date={{ $now.minus(90, 'days').toISO() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-gong-calls",
      "name": "Fetch Gong Calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const account = $('Fetch Account Data').item.json;\nconst usage = $('Fetch Usage Metrics').item.json;\nconst calls = $('Fetch Gong Calls').item.json;\n\nconst briefing = {\n  title: `QBR Briefing: ${account.name}`,\n  generated_at: new Date().toISOString(),\n  account_summary: {\n    name: account.name,\n    arr: account.arr,\n    contract_start: account.contract_start,\n    renewal_date: account.renewal_date,\n    csm: account.csm_name,\n    tier: account.tier\n  },\n  usage_metrics: {\n    dau: usage.dau,\n    mau: usage.mau,\n    adoption_rate: usage.adoption_percent + '%',\n    top_features: usage.top_features,\n    usage_trend: usage.change_percent > 0 ? 'Growing' : 'Declining'\n  },\n  health_indicators: {\n    nps: account.latest_nps,\n    csat: account.latest_csat,\n    support_tickets_90d: account.support_ticket_count,\n    open_issues: account.open_issues\n  },\n  conversation_highlights: calls.calls?.slice(0, 5).map(c => ({\n    date: c.date,\n    participants: c.participants,\n    summary: c.summary,\n    action_items: c.action_items\n  })) || [],\n  expansion_opportunities: [\n    usage.underutilized_features?.length > 0 ? `Underutilized features: ${usage.underutilized_features.join(', ')}` : null,\n    account.additional_teams ? `${account.additional_teams} teams not yet onboarded` : null\n  ].filter(Boolean),\n  risk_flags: [\n    usage.change_percent < -10 ? `Usage declined ${Math.abs(usage.change_percent)}%` : null,\n    account.latest_nps < 7 ? `NPS is ${account.latest_nps}` : null,\n    account.champion_changed ? 'Champion recently changed' : null\n  ].filter(Boolean),\n  talking_points: [\n    'Review key wins and value delivered this quarter',\n    'Discuss usage trends and adoption goals',\n    'Address any open support issues',\n    'Explore expansion opportunities',\n    'Align on next quarter goals and success criteria'\n  ]\n};\n\nreturn [{ json: briefing }];"
      },
      "id": "generate-briefing",
      "name": "Generate QBR Briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://docs.googleapis.com/v1/documents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "body": {
          "json": {
            "title": "={{ $json.title }}"
          }
        },
        "options": {}
      },
      "id": "create-google-doc",
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "channel": "#cs-qbr-prep",
        "text": "=📋 *QBR Briefing Ready*\n\n*Account:* {{ $json.title }}\n*ARR:* ${{ $json.account_summary.arr }}\n*Health:* NPS {{ $json.health_indicators.nps }} | CSAT {{ $json.health_indicators.csat }}\n*Usage Trend:* {{ $json.usage_metrics.usage_trend }}\n\n{{ $json.risk_flags.length > 0 ? '⚠️ *Risk Flags:*\\n• ' + $json.risk_flags.join('\\n• ') : '✅ No risk flags' }}\n\n📄 Doc: {{ $('Create Google Doc').item.json.documentId }}",
        "otherOptions": {}
      },
      "id": "notify-slack",
      "name": "Notify CSM via Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1320, 0],
      "credentials": { "slackApi": { "id": "1", "name": "Slack API" } }
    }
  ],
  "connections": {
    "Daily Check": { "main": [[{ "node": "Fetch Upcoming QBRs", "type": "main", "index": 0 }]] },
    "Fetch Upcoming QBRs": { "main": [[{ "node": "Any QBRs Coming Up?", "type": "main", "index": 0 }]] },
    "Any QBRs Coming Up?": { "main": [[{ "node": "Fetch Account Data", "type": "main", "index": 0 }, { "node": "Fetch Usage Metrics", "type": "main", "index": 0 }, { "node": "Fetch Gong Calls", "type": "main", "index": 0 }], []] },
    "Fetch Account Data": { "main": [[{ "node": "Generate QBR Briefing", "type": "main", "index": 0 }]] },
    "Fetch Usage Metrics": { "main": [[{ "node": "Generate QBR Briefing", "type": "main", "index": 0 }]] },
    "Fetch Gong Calls": { "main": [[{ "node": "Generate QBR Briefing", "type": "main", "index": 0 }]] },
    "Generate QBR Briefing": { "main": [[{ "node": "Create Google Doc", "type": "main", "index": 0 }]] },
    "Create Google Doc": { "main": [[{ "node": "Notify CSM via Slack", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "customer-success" }, { "name": "qbr" }]
}
