content/templates/health-score-calculator/workflow.json
{
  "name": "AI Health Score Calculator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://your-crm.example.com/api/accounts?status=active",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch-accounts",
      "name": "Fetch Active Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.mixpanel.com/engage?account_id={{ $json.account_id }}&from_date={{ $now.minus(30, 'days').toISO() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-usage",
      "name": "Fetch Usage from Mixpanel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://your-zendesk.zendesk.com/api/v2/search.json?query=organization:{{ $json.account_id }} created>{{ $now.minus(30, 'days').format('yyyy-MM-dd') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "fetch-tickets",
      "name": "Fetch Support Tickets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://your-crm.example.com/api/accounts/{{ $json.account_id }}/engagement",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {}
      },
      "id": "fetch-engagement",
      "name": "Fetch Engagement & NPS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [{ "field1": "account_id", "field2": "account_id" }]
        },
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge All Signals",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [660, 100]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\n// Weight configuration\nconst weights = { usage: 0.30, support: 0.20, engagement: 0.20, nps: 0.15, stakeholder: 0.15 };\n\n// Usage score (0-100)\nlet usageScore = 100;\nif (item.usage_change_percent < -30) usageScore = 20;\nelse if (item.usage_change_percent < -15) usageScore = 50;\nelse if (item.usage_change_percent < 0) usageScore = 70;\nelse if (item.usage_change_percent > 10) usageScore = 100;\n\n// Support score (fewer tickets = better)\nlet supportScore = 100;\nconst ticketCount = item.ticket_count || 0;\nconst criticalTickets = item.critical_tickets || 0;\nif (criticalTickets > 0) supportScore -= 30;\nif (ticketCount > 10) supportScore = 30;\nelse if (ticketCount > 5) supportScore = 60;\n\n// Engagement score\nlet engagementScore = Math.min(100, (item.email_open_rate || 0) * 100 + (item.meetings_attended || 0) * 20);\n\n// NPS score\nlet npsScore = Math.min(100, (item.latest_nps || 5) * 10);\n\n// Stakeholder activity\nlet stakeholderScore = 100;\nif (item.champion_left) stakeholderScore -= 40;\nif (item.days_since_exec_contact > 60) stakeholderScore -= 30;\n\n// Composite score\nconst healthScore = Math.round(\n  usageScore * weights.usage +\n  supportScore * weights.support +\n  engagementScore * weights.engagement +\n  npsScore * weights.nps +\n  stakeholderScore * weights.stakeholder\n);\n\nlet status = 'Healthy';\nif (healthScore < 40) status = 'Critical';\nelse if (healthScore < 60) status = 'At Risk';\nelse if (healthScore < 75) status = 'Needs Attention';\n\nreturn [{\n  json: {\n    account_id: item.account_id,\n    account_name: item.account_name,\n    health_score: healthScore,\n    previous_score: item.previous_health_score || null,\n    status: status,\n    components: { usageScore, supportScore, engagementScore, npsScore, stakeholderScore },\n    csm_email: item.csm_email,\n    arr: item.arr\n  }\n}];"
      },
      "id": "calculate-health",
      "name": "Calculate Health Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://your-crm.example.com/api/accounts/{{ $json.account_id }}/health",
        "body": {
          "json": {
            "health_score": "={{ $json.health_score }}",
            "health_status": "={{ $json.status }}",
            "updated_at": "={{ $now.toISO() }}"
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {}
      },
      "id": "update-crm",
      "name": "Update CRM Health Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "status-changed",
              "leftValue": "={{ $json.health_score }}",
              "rightValue": 60,
              "operator": { "type": "number", "operation": "lt" }
            }
          ]
        }
      },
      "id": "filter-alerts",
      "name": "Score Below Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "channel": "#cs-health-scores",
        "text": "=📊 *Health Score Alert*\n\n*Account:* {{ $json.account_name }}\n*Score:* {{ $json.health_score }}/100 ({{ $json.status }})\n*Previous:* {{ $json.previous_score || 'N/A' }}\n*ARR:* ${{ $json.arr }}\n\n*Component Breakdown:*\n• Usage: {{ $json.components.usageScore }}/100\n• Support: {{ $json.components.supportScore }}/100\n• Engagement: {{ $json.components.engagementScore }}/100\n• NPS: {{ $json.components.npsScore }}/100\n• Stakeholder: {{ $json.components.stakeholderScore }}/100\n\n*CSM:* {{ $json.csm_email }}",
        "otherOptions": {}
      },
      "id": "slack-alert",
      "name": "Send Health Alert to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1320, 200],
      "credentials": { "slackApi": { "id": "1", "name": "Slack API" } }
    }
  ],
  "connections": {
    "Daily Schedule": { "main": [[{ "node": "Fetch Active Accounts", "type": "main", "index": 0 }]] },
    "Fetch Active Accounts": { "main": [[{ "node": "Fetch Usage from Mixpanel", "type": "main", "index": 0 }, { "node": "Fetch Support Tickets", "type": "main", "index": 0 }, { "node": "Fetch Engagement & NPS", "type": "main", "index": 0 }]] },
    "Fetch Usage from Mixpanel": { "main": [[{ "node": "Merge All Signals", "type": "main", "index": 0 }]] },
    "Fetch Support Tickets": { "main": [[{ "node": "Merge All Signals", "type": "main", "index": 0 }]] },
    "Fetch Engagement & NPS": { "main": [[{ "node": "Merge All Signals", "type": "main", "index": 0 }]] },
    "Merge All Signals": { "main": [[{ "node": "Calculate Health Score", "type": "main", "index": 0 }]] },
    "Calculate Health Score": { "main": [[{ "node": "Update CRM Health Score", "type": "main", "index": 0 }, { "node": "Score Below Threshold?", "type": "main", "index": 0 }]] },
    "Score Below Threshold?": { "main": [[{ "node": "Send Health Alert to Slack", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "customer-success" }, { "name": "health-score" }]
}
