content/templates/expansion-signal-detector/workflow.json
{
  "name": "Expansion Signal Detector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "weeks", "weeksInterval": 1 }]
        }
      },
      "id": "weekly-trigger",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://your-crm.example.com/api/accounts?status=active&include=plan_details",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch-accounts",
      "name": "Fetch Active Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.mixpanel.com/engage?account_id={{ $json.account_id }}&from_date={{ $now.minus(30, 'days').toISO() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-usage",
      "name": "Fetch Usage Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://your-crm.example.com/api/accounts/{{ $json.account_id }}/feature-requests",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {}
      },
      "id": "fetch-feature-requests",
      "name": "Fetch Feature Requests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [{ "field1": "account_id", "field2": "account_id" }]
        },
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Signals",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const account = $input.item.json;\n\nlet expansionScore = 0;\nconst signals = [];\nconst plays = [];\n\n// Usage exceeding plan limits\nconst usagePercent = (account.current_usage / account.plan_limit) * 100;\nif (usagePercent > 90) {\n  expansionScore += 30;\n  signals.push(`Usage at ${Math.round(usagePercent)}% of plan limit`);\n  plays.push('Propose plan upgrade before overage charges');\n}\nif (usagePercent > 110) {\n  expansionScore += 10;\n  signals.push('Already exceeding plan limits');\n}\n\n// New department adoption\nif (account.new_departments > 0) {\n  expansionScore += 25;\n  signals.push(`${account.new_departments} new department(s) started using the product`);\n  plays.push('Offer enterprise-wide licensing deal');\n}\n\n// Feature requests for higher-tier features\nconst premiumRequests = (account.feature_requests || []).filter(r => r.tier === 'premium' || r.tier === 'enterprise');\nif (premiumRequests.length > 0) {\n  expansionScore += 20;\n  signals.push(`${premiumRequests.length} requests for higher-tier features`);\n  plays.push(`Demo premium features: ${premiumRequests.map(r => r.name).join(', ')}`);\n}\n\n// Positive usage trend\nif (account.usage_growth_percent > 20) {\n  expansionScore += 15;\n  signals.push(`Usage growing ${account.usage_growth_percent}% month-over-month`);\n}\n\n// High NPS/satisfaction\nif (account.latest_nps >= 9) {\n  expansionScore += 10;\n  signals.push(`NPS score: ${account.latest_nps} (promoter)`);\n  plays.push('Request case study or referral alongside expansion conversation');\n}\n\nif (expansionScore < 20) return [];\n\nreturn [{\n  json: {\n    account_id: account.account_id,\n    account_name: account.account_name,\n    current_arr: account.arr,\n    current_plan: account.plan_name,\n    expansion_score: expansionScore,\n    signals: signals,\n    suggested_plays: plays,\n    estimated_expansion: Math.round(account.arr * 0.3),\n    csm_email: account.csm_email,\n    ae_email: account.ae_email\n  }\n}];"
      },
      "id": "score-expansion",
      "name": "Score Expansion Potential",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "high-potential",
              "leftValue": "={{ $json.expansion_score }}",
              "rightValue": 40,
              "operator": { "type": "number", "operation": "gte" }
            }
          ]
        }
      },
      "id": "filter-high",
      "name": "High Expansion Potential?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "channel": "#cs-expansion",
        "text": "=💰 *Expansion Opportunity Detected*\n\n*Account:* {{ $json.account_name }}\n*Current ARR:* ${{ $json.current_arr }} ({{ $json.current_plan }})\n*Expansion Score:* {{ $json.expansion_score }}/100\n*Est. Expansion Value:* ${{ $json.estimated_expansion }}\n\n*Signals:*\n• {{ $json.signals.join('\\n• ') }}\n\n*Suggested Plays:*\n• {{ $json.suggested_plays.join('\\n• ') }}\n\n*CSM:* {{ $json.csm_email }} | *AE:* {{ $json.ae_email }}",
        "otherOptions": {}
      },
      "id": "slack-alert",
      "name": "Send Expansion Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1320, 0],
      "credentials": { "slackApi": { "id": "1", "name": "Slack API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-crm.example.com/api/opportunities",
        "body": {
          "json": {
            "account_id": "={{ $json.account_id }}",
            "type": "expansion",
            "name": "=Expansion: {{ $json.account_name }}",
            "amount": "={{ $json.estimated_expansion }}",
            "stage": "Signal Detected",
            "owner": "={{ $json.ae_email }}",
            "notes": "=Auto-detected signals: {{ $json.signals.join('; ') }}"
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {}
      },
      "id": "create-opportunity",
      "name": "Create CRM Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200]
    }
  ],
  "connections": {
    "Weekly Schedule": { "main": [[{ "node": "Fetch Active Accounts", "type": "main", "index": 0 }]] },
    "Fetch Active Accounts": { "main": [[{ "node": "Fetch Usage Data", "type": "main", "index": 0 }, { "node": "Fetch Feature Requests", "type": "main", "index": 0 }]] },
    "Fetch Usage Data": { "main": [[{ "node": "Merge Signals", "type": "main", "index": 0 }]] },
    "Fetch Feature Requests": { "main": [[{ "node": "Merge Signals", "type": "main", "index": 1 }]] },
    "Merge Signals": { "main": [[{ "node": "Score Expansion Potential", "type": "main", "index": 0 }]] },
    "Score Expansion Potential": { "main": [[{ "node": "High Expansion Potential?", "type": "main", "index": 0 }]] },
    "High Expansion Potential?": { "main": [[{ "node": "Send Expansion Alert", "type": "main", "index": 0 }, { "node": "Create CRM Opportunity", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "customer-success" }, { "name": "expansion" }, { "name": "revenue" }]
}
