content/templates/onboarding-tracker/workflow.json
{
  "name": "Onboarding Milestone Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "triggerAtHour": 8 }]
        }
      },
      "id": "daily-trigger",
      "name": "Daily Morning Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://your-crm.example.com/api/accounts?status=onboarding",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotApi",
        "options": {}
      },
      "id": "fetch-onboarding-accounts",
      "name": "Fetch Onboarding Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://your-app.example.com/api/onboarding/progress?account_id={{ $json.account_id }}",
        "options": {}
      },
      "id": "fetch-milestone-progress",
      "name": "Fetch Milestone Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const account = $('Fetch Onboarding Accounts').item.json;\nconst progress = $('Fetch Milestone Progress').item.json;\n\nconst milestones = [\n  { name: 'Account Setup', key: 'account_setup', target_day: 1 },\n  { name: 'First Login', key: 'first_login', target_day: 2 },\n  { name: 'Integration Connected', key: 'integration_setup', target_day: 7 },\n  { name: 'Training Completed', key: 'training_complete', target_day: 14 },\n  { name: 'First Value Moment', key: 'first_value', target_day: 21 },\n  { name: 'Go-Live', key: 'go_live', target_day: 30 }\n];\n\nconst startDate = new Date(account.onboarding_start);\nconst daysSinceStart = Math.floor((Date.now() - startDate.getTime()) / (1000*60*60*24));\n\nconst atRisk = [];\nconst completed = [];\nconst upcoming = [];\n\nfor (const m of milestones) {\n  const done = progress[m.key]?.completed;\n  if (done) {\n    completed.push(m.name);\n  } else if (daysSinceStart >= m.target_day) {\n    atRisk.push({ ...m, days_overdue: daysSinceStart - m.target_day });\n  } else {\n    upcoming.push({ ...m, days_until: m.target_day - daysSinceStart });\n  }\n}\n\nreturn [{\n  json: {\n    account_id: account.id,\n    account_name: account.name,\n    contact_email: account.primary_contact_email,\n    contact_name: account.primary_contact_name,\n    csm_email: account.csm_email,\n    days_in_onboarding: daysSinceStart,\n    completed,\n    at_risk: atRisk,\n    upcoming,\n    overall_status: atRisk.length > 0 ? 'at_risk' : 'on_track',\n    completion_percent: Math.round((completed.length / milestones.length) * 100)\n  }\n}];"
      },
      "id": "evaluate-milestones",
      "name": "Evaluate Milestones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "is-at-risk",
              "leftValue": "={{ $json.at_risk.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "is-at-risk",
      "name": "Any Milestones At Risk?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.intercom.io/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "intercomApi",
        "body": {
          "json": {
            "message_type": "email",
            "subject": "=Quick check-in on your {{ $json.account_name }} setup",
            "body": "=Hi {{ $json.contact_name }},\n\nI noticed you haven't completed your {{ $json.at_risk[0].name }} step yet. This is a key milestone to getting the most value from the platform.\n\nHere's a quick guide to help: [link]\n\nWould you like to schedule a 15-minute walkthrough? I'm happy to help!\n\nBest,\nYour CS Team",
            "from": { "type": "admin", "id": "your_admin_id" },
            "to": { "type": "user", "email": "={{ $json.contact_email }}" }
          }
        },
        "options": {}
      },
      "id": "send-nudge-email",
      "name": "Send Nudge Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "channel": "#cs-onboarding",
        "text": "=⚠️ *Onboarding At Risk*\n\n*Account:* {{ $json.account_name }}\n*Day:* {{ $json.days_in_onboarding }} of 30\n*Progress:* {{ $json.completion_percent }}%\n\n*Overdue Milestones:*\n{{ $json.at_risk.map(m => `• ${m.name} (${m.days_overdue} days overdue)`).join('\\n') }}\n\n*CSM:* {{ $json.csm_email }}",
        "otherOptions": {}
      },
      "id": "alert-csm",
      "name": "Alert CSM on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1100, 100],
      "credentials": { "slackApi": { "id": "1", "name": "Slack API" } }
    },
    {
      "parameters": {
        "jsCode": "// Weekly digest - only run on Mondays\nconst today = new Date();\nif (today.getDay() !== 1) return [];\n\n// This would aggregate all accounts, simplified here\nconst item = $input.item.json;\nreturn [{\n  json: {\n    digest: true,\n    summary: `Weekly Onboarding Digest:\\n• ${item.account_name}: ${item.completion_percent}% complete, ${item.at_risk.length} milestones at risk`\n  }\n}];"
      },
      "id": "weekly-digest",
      "name": "Weekly Digest (Mondays)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Daily Morning Check": { "main": [[{ "node": "Fetch Onboarding Accounts", "type": "main", "index": 0 }]] },
    "Fetch Onboarding Accounts": { "main": [[{ "node": "Fetch Milestone Progress", "type": "main", "index": 0 }]] },
    "Fetch Milestone Progress": { "main": [[{ "node": "Evaluate Milestones", "type": "main", "index": 0 }]] },
    "Evaluate Milestones": { "main": [[{ "node": "Any Milestones At Risk?", "type": "main", "index": 0 }]] },
    "Any Milestones At Risk?": { "main": [[{ "node": "Send Nudge Email", "type": "main", "index": 0 }, { "node": "Alert CSM on Slack", "type": "main", "index": 0 }, { "node": "Weekly Digest (Mondays)", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "customer-success" }, { "name": "onboarding" }]
}
