content/templates/wau-wow-comparison/workflow.json
{
  "name": "WAU Week-over-Week Alert",
  "nodes": [
    {
      "parameters": {
        "content": "## ⚙️ SETUP: Mixpanel Credentials\n\n1. Go to **Credentials → HTTP Basic Auth**\n2. Set **User** = your Mixpanel Service Account username\n3. Set **Password** = your Service Account secret\n\nFind these in Mixpanel → Settings → Service Accounts",
        "height": 260,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [60, -420],
      "id": "note-mixpanel-creds",
      "name": "Note: Mixpanel Creds"
    },
    {
      "parameters": {
        "content": "## ⚙️ SETUP: Mixpanel Query\n\nReplace these values in the **Fetch WAU Data** node:\n\n- `project_id` → Your Mixpanel project ID\n- `bookmark_id` → Your saved Insights report ID\n\nThe report should be a WAU breakdown by account (using a property like `account_id` or `subdomain`).",
        "height": 280,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [60, -130],
      "id": "note-mixpanel-query",
      "name": "Note: Mixpanel Query"
    },
    {
      "parameters": {
        "content": "## ⚙️ SETUP: Google Sheets\n\n1. Create a new Google Sheet with columns:\n   `Acc.Id | Acc.Subdomain | [dates auto-filled] | Change (%)`\n2. Replace the sheet URL in both Google Sheets nodes\n3. Connect your Google Sheets OAuth2 credential",
        "height": 240,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [510, -420],
      "id": "note-sheets",
      "name": "Note: Google Sheets"
    },
    {
      "parameters": {
        "content": "## ⚙️ SETUP: Email Recipients\n\nIn the **Send Alert Email** node, replace the `sendTo` field with your team's email addresses (comma-separated).\n\nExample:\n`csm-lead@company.com, cs-ops@company.com`",
        "height": 220,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1170, -420],
      "id": "note-email",
      "name": "Note: Email Recipients"
    },
    {
      "parameters": {
        "content": "## 🎛️ TUNING: Change Threshold\n\nThe **Filter Significant Changes** node filters for accounts with >10% week-over-week change.\n\nAdjust the `10` in the filter code to change sensitivity:\n- `5` = more alerts (catches smaller drops)\n- `20` = fewer alerts (only major swings)\n- Consider separate thresholds for drops vs. growth",
        "height": 280,
        "width": 340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [740, -420],
      "id": "note-threshold",
      "name": "Note: Threshold"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-336, -128],
      "id": "trigger",
      "name": "Every Monday 11 AM"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst day = now.getDay(); // 0 (Sun) to 6 (Sat)\nconst diffToMonday = (day + 6) % 7;\nconst lastMonday = new Date(now);\nlastMonday.setDate(now.getDate() - diffToMonday - 7);\nconst lastSunday = new Date(lastMonday);\nlastSunday.setDate(lastMonday.getDate() + 6);\n\nconst pad = n => n.toString().padStart(2, '0');\nconst format = d => `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())}`;\n\nreturn [{\n  json: {\n    from_date: format(lastMonday),\n    to_date: format(lastSunday)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-112, -128],
      "id": "get-dates",
      "name": "Calculate Date Range"
    },
    {
      "parameters": {
        "url": "https://mixpanel.com/api/query/insights",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "project_id",
              "value": "YOUR_PROJECT_ID"
            },
            {
              "name": "bookmark_id",
              "value": "YOUR_BOOKMARK_ID"
            },
            {
              "name": "from_date",
              "value": "={{$json[\"from_date\"]}}"
            },
            {
              "name": "to_date",
              "value": "={{$json[\"to_date\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [112, -128],
      "id": "fetch-wau",
      "name": "Fetch WAU Data"
    },
    {
      "parameters": {
        "jsCode": "// Parse Mixpanel Insights response into rows.\n// Adjust the series key below to match your Mixpanel event name.\nconst SERIES_KEY = 'WAU of Session Start'; // ← CHANGE to your event name\n\nconst series = items[0].json.series[SERIES_KEY];\nconst allDates = Object.keys(series['$overall']).sort().reverse();\nconst latestDate = allDates[0];\nconst prevDate = allDates[1];\n\nconst outputRows = [];\n\nfor (const [accId, accountData] of Object.entries(series)) {\n  if (accId === '$overall') continue;\n\n  // The subdomain/account key is the first non-$overall key\n  const subdomainKey = Object.keys(accountData).find(k => k !== '$overall');\n  const wauLatest = accountData[subdomainKey]?.[latestDate] || 0;\n  const wauPrev = accountData[subdomainKey]?.[prevDate] || 0;\n  const pctChange = wauPrev === 0 ? 0 : ((wauLatest - wauPrev) / wauPrev) * 100;\n\n  outputRows.push({\n    'Acc.Id': accId,\n    'Acc.Subdomain': subdomainKey,\n    [prevDate]: parseFloat(wauPrev.toFixed(2)),\n    [latestDate]: parseFloat(wauLatest.toFixed(2)),\n    'Change (%)': parseFloat(pctChange.toFixed(2))\n  });\n}\n\nreturn outputRows.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [336, -128],
      "id": "process-data",
      "name": "Process Mixpanel Data"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_URL",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [560, -128],
      "id": "log-to-sheet",
      "name": "Log to Google Sheet"
    },
    {
      "parameters": {
        "jsCode": "// Filter for accounts with >10% change (absolute value).\n// Adjust the threshold below to control alert sensitivity.\nconst THRESHOLD = 10; // percent\n\nreturn items.filter(item => Math.abs(item.json['Change (%)']) > THRESHOLD);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [784, -128],
      "id": "filter-changes",
      "name": "Filter Significant Changes"
    },
    {
      "parameters": {
        "jsCode": "if (items.length === 0) {\n  return [];\n}\n\nconst lines = items.map(item => {\n  const json = item.json;\n  const keys = Object.keys(json);\n  const prevDate = keys[2];\n  const currDate = keys[3];\n  const changeValue = json['Change (%)'];\n  const arrow = changeValue > 0 ? '📈' : '📉';\n\n  return `<li>${arrow} <strong>${json['Acc.Subdomain']}</strong> (${json['Acc.Id']})<br/>\n    Change: <strong>${changeValue}%</strong><br/>\n    From: ${json[prevDate]} → ${json[currDate]}</li>`;\n});\n\nconst currDate = Object.keys(items[0].json)[3];\nconst htmlMessage = `<h3>🚨 WAU Change Alert (&gt;10%)</h3>\n<p>${items.length} account(s) with significant WAU changes this week:</p>\n<ul>${lines.join('')}</ul>`;\n\nreturn [{ json: { html: htmlMessage, subject: `WAU Alert — Week of ${currDate}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [992, -128],
      "id": "build-email",
      "name": "Build Alert Email"
    },
    {
      "parameters": {
        "sendTo": "cs-lead@yourcompany.com, cs-ops@yourcompany.com",
        "subject": "={{$json[\"subject\"]}}",
        "message": "={{$json[\"html\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1216, -128],
      "id": "send-email",
      "name": "Send Alert Email"
    },
    {
      "parameters": {
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1424, -128],
      "id": "wait-cleanup",
      "name": "Wait 1 Day"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_URL",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "toDelete": "columns",
        "startIndex": "F",
        "numberToDelete": 5
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [1632, -128],
      "id": "cleanup-sheet",
      "name": "Clean Up Temp Columns"
    }
  ],
  "connections": {
    "Every Monday 11 AM": { "main": [[{ "node": "Calculate Date Range", "type": "main", "index": 0 }]] },
    "Calculate Date Range": { "main": [[{ "node": "Fetch WAU Data", "type": "main", "index": 0 }]] },
    "Fetch WAU Data": { "main": [[{ "node": "Process Mixpanel Data", "type": "main", "index": 0 }]] },
    "Process Mixpanel Data": { "main": [[{ "node": "Log to Google Sheet", "type": "main", "index": 0 }]] },
    "Log to Google Sheet": { "main": [[{ "node": "Filter Significant Changes", "type": "main", "index": 0 }]] },
    "Filter Significant Changes": { "main": [[{ "node": "Build Alert Email", "type": "main", "index": 0 }]] },
    "Build Alert Email": { "main": [[{ "node": "Send Alert Email", "type": "main", "index": 0 }]] },
    "Send Alert Email": { "main": [[{ "node": "Wait 1 Day", "type": "main", "index": 0 }]] },
    "Wait 1 Day": { "main": [[{ "node": "Clean Up Temp Columns", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "customer-success" }, { "name": "usage-monitoring" }]
}
