content/templates/automated-csm-handoff/workflow.json
{
  "name": "Automated CSM Handoff Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "csm-handoff",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Deal Closed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://your-crm.example.com/api/opportunities/{{ $json.body.opportunity_id }}?include=contacts,notes,requirements",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch-deal",
      "name": "Fetch Deal Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://your-crm.example.com/api/accounts/{{ $json.account_id }}/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {}
      },
      "id": "fetch-stakeholders",
      "name": "Fetch Stakeholders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const deal = $('Fetch Deal Context').item.json;\nconst contacts = $('Fetch Stakeholders').item.json.contacts || [];\n\n// Build stakeholder map\nconst stakeholders = contacts.map(c => ({\n  name: c.name,\n  title: c.title,\n  email: c.email,\n  role: c.role || 'User',\n  engagement_level: c.meetings_count > 3 ? 'High' : c.meetings_count > 1 ? 'Medium' : 'Low'\n}));\n\nconst champion = stakeholders.find(s => s.role === 'Champion' || s.role === 'Decision Maker');\nconst execSponsor = stakeholders.find(s => s.role === 'Executive Sponsor');\n\n// Build handoff document\nconst handoff = {\n  account_name: deal.account_name,\n  account_id: deal.account_id,\n  arr: deal.amount,\n  plan: deal.plan_name || 'Standard',\n  close_date: deal.close_date,\n  ae_name: deal.owner_name,\n  ae_email: deal.owner_email,\n  csm_email: deal.assigned_csm_email,\n  csm_name: deal.assigned_csm_name,\n\n  // Deal context\n  why_they_bought: deal.pain_points || 'Not documented',\n  key_requirements: deal.requirements || [],\n  success_criteria: deal.success_criteria || 'Not defined',\n  timeline: deal.expected_go_live || 'TBD',\n  competitors_evaluated: deal.competitors || [],\n\n  // Stakeholders\n  champion: champion ? `${champion.name} (${champion.title})` : 'Not identified',\n  exec_sponsor: execSponsor ? `${execSponsor.name} (${execSponsor.title})` : 'Not identified',\n  stakeholder_map: stakeholders,\n\n  // Kickoff details\n  kickoff_attendees: stakeholders.filter(s => s.engagement_level !== 'Low').map(s => s.email),\n  primary_contact_email: champion ? champion.email : (contacts[0] || {}).email\n};\n\nreturn [{ json: handoff }];"
      },
      "id": "build-handoff",
      "name": "Build Handoff Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "body": {
          "json": {
            "summary": "=Kickoff: {{ $json.account_name }}",
            "description": "=Customer kickoff meeting for {{ $json.account_name }}.\n\nCSM: {{ $json.csm_name }}\nAE: {{ $json.ae_name }}\nPlan: {{ $json.plan }}\nARR: ${{ $json.arr }}",
            "start": { "dateTime": "={{ $now.plus(5, 'days').set({ hour: 14, minute: 0 }).toISO() }}", "timeZone": "UTC" },
            "end": { "dateTime": "={{ $now.plus(5, 'days').set({ hour: 15, minute: 0 }).toISO() }}", "timeZone": "UTC" },
            "attendees": "={{ $json.kickoff_attendees.map(e => ({ email: e })) }}"
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "options": {}
      },
      "id": "schedule-kickoff",
      "name": "Schedule Kickoff Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "channel": "#cs-handoffs",
        "text": "=🤝 *New Customer Handoff*\n\n*Account:* {{ $json.account_name }}\n*ARR:* ${{ $json.arr }} | *Plan:* {{ $json.plan }}\n*Close Date:* {{ $json.close_date }}\n*AE:* {{ $json.ae_name }}\n\n*Why They Bought:*\n{{ $json.why_they_bought }}\n\n*Key Requirements:*\n{{ $json.key_requirements.length > 0 ? $json.key_requirements.map(r => '• ' + r).join('\\n') : '• Not documented' }}\n\n*Success Criteria:* {{ $json.success_criteria }}\n*Timeline:* {{ $json.timeline }}\n\n*Stakeholders:*\n• Champion: {{ $json.champion }}\n• Exec Sponsor: {{ $json.exec_sponsor }}\n\n📅 Kickoff meeting scheduled for 5 business days from now.\n\n*CSM:* {{ $json.csm_name }} ({{ $json.csm_email }})",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Notify CSM on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [880, 100],
      "credentials": { "slackApi": { "id": "1", "name": "Slack API" } }
    },
    {
      "parameters": {
        "fromEmail": "cs-handoffs@yourcompany.com",
        "toEmail": "={{ $json.csm_email }}",
        "subject": "=New Account Handoff: {{ $json.account_name }} (${{ $json.arr }} ARR)",
        "emailType": "html",
        "html": "=<h2>Account Handoff: {{ $json.account_name }}</h2><p><strong>ARR:</strong> ${{ $json.arr }} | <strong>Plan:</strong> {{ $json.plan }}<br><strong>AE:</strong> {{ $json.ae_name }} ({{ $json.ae_email }})</p><h3>Why They Bought</h3><p>{{ $json.why_they_bought }}</p><h3>Key Requirements</h3><ul>{{ $json.key_requirements.map(r => '<li>' + r + '</li>').join('') || '<li>Not documented</li>' }}</ul><h3>Success Criteria</h3><p>{{ $json.success_criteria }}</p><h3>Stakeholders</h3><p>Champion: {{ $json.champion }}<br>Exec Sponsor: {{ $json.exec_sponsor }}</p><h3>Full Stakeholder Map</h3><table border='1' cellpadding='5'>{{ $json.stakeholder_map.map(s => '<tr><td>' + s.name + '</td><td>' + s.title + '</td><td>' + s.role + '</td><td>' + s.engagement_level + '</td></tr>').join('') }}</table><p><em>Kickoff meeting has been scheduled. Check your calendar.</em></p>",
        "options": {}
      },
      "id": "email-csm",
      "name": "Email Account Brief",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [880, 300],
      "credentials": { "smtp": { "id": "2", "name": "SMTP" } }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://your-crm.example.com/api/accounts/{{ $json.account_id }}",
        "body": {
          "json": {
            "status": "onboarding",
            "csm": "={{ $json.csm_email }}",
            "handoff_date": "={{ $now.toISO() }}",
            "kickoff_scheduled": true
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {}
      },
      "id": "update-crm",
      "name": "Update Account Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100]
    }
  ],
  "connections": {
    "Deal Closed Webhook": { "main": [[{ "node": "Fetch Deal Context", "type": "main", "index": 0 }]] },
    "Fetch Deal Context": { "main": [[{ "node": "Fetch Stakeholders", "type": "main", "index": 0 }]] },
    "Fetch Stakeholders": { "main": [[{ "node": "Build Handoff Document", "type": "main", "index": 0 }]] },
    "Build Handoff Document": { "main": [[{ "node": "Schedule Kickoff Meeting", "type": "main", "index": 0 }, { "node": "Notify CSM on Slack", "type": "main", "index": 0 }, { "node": "Email Account Brief", "type": "main", "index": 0 }]] },
    "Schedule Kickoff Meeting": { "main": [[{ "node": "Update Account Status", "type": "main", "index": 0 }]] },
    "Notify CSM on Slack": { "main": [[{ "node": "Update Account Status", "type": "main", "index": 0 }]] },
    "Email Account Brief": { "main": [[{ "node": "Update Account Status", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "customer-success" }, { "name": "onboarding" }, { "name": "handoff" }]
}
