content/templates/stakeholder-change-detector/workflow.json
{
  "name": "Stakeholder Change Detector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24 }]
        }
      },
      "id": "daily-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://your-crm.example.com/api/contacts?role=champion,decision_maker,executive_sponsor&status=active",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch-contacts",
      "name": "Fetch Key Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.linkedin.com/v2/people/{{ $json.linkedin_id }}?fields=positions,headline",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "check-linkedin",
      "name": "Check LinkedIn Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const contact = $input.item.json;\n\nconst changes = [];\nconst currentCompany = contact.linkedin_current_company || '';\nconst expectedCompany = contact.crm_company_name || '';\nconst currentTitle = contact.linkedin_title || '';\nconst previousTitle = contact.crm_title || '';\n\n// Detect departure\nif (currentCompany && expectedCompany && currentCompany.toLowerCase() !== expectedCompany.toLowerCase()) {\n  changes.push({\n    type: 'departure',\n    severity: contact.role === 'champion' ? 'critical' : 'high',\n    description: `${contact.name} left ${expectedCompany} → now at ${currentCompany}`,\n    action: contact.role === 'champion' ? 'URGENT: Identify new champion immediately. Schedule exec sponsor call.' : 'Update CRM contact record. Identify replacement.'\n  });\n}\n\n// Detect title/role change\nif (currentTitle && previousTitle && currentTitle !== previousTitle && currentCompany.toLowerCase() === expectedCompany.toLowerCase()) {\n  changes.push({\n    type: 'role_change',\n    severity: 'medium',\n    description: `${contact.name} role changed: ${previousTitle} → ${currentTitle}`,\n    action: 'Schedule check-in to understand new responsibilities and impact on partnership.'\n  });\n}\n\nif (changes.length === 0) return [];\n\nreturn changes.map(change => ({\n  json: {\n    account_id: contact.account_id,\n    account_name: contact.account_name,\n    contact_name: contact.name,\n    contact_role: contact.role,\n    change_type: change.type,\n    severity: change.severity,\n    description: change.description,\n    recommended_action: change.action,\n    csm_email: contact.csm_email,\n    arr: contact.arr\n  }\n}));"
      },
      "id": "detect-changes",
      "name": "Detect Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://your-crm.example.com/api/accounts/{{ $json.account_id }}/new-contacts?since={{ $now.minus(7, 'days').format('yyyy-MM-dd') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {}
      },
      "id": "check-new-execs",
      "name": "Check New Executives",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 200]
    },
    {
      "parameters": {
        "jsCode": "const newContacts = $input.item.json.contacts || [];\nconst account = $input.item.json;\n\nreturn newContacts\n  .filter(c => ['VP', 'Director', 'C-Suite', 'Head of'].some(t => (c.title || '').includes(t)))\n  .map(c => ({\n    json: {\n      account_id: account.account_id,\n      account_name: account.account_name,\n      contact_name: c.name,\n      contact_role: 'new_executive',\n      change_type: 'new_stakeholder',\n      severity: 'medium',\n      description: `New executive detected: ${c.name} (${c.title}) at ${account.account_name}`,\n      recommended_action: 'Schedule introduction meeting. Add to stakeholder map. Brief on current partnership status.',\n      csm_email: account.csm_email,\n      arr: account.arr\n    }\n  }));"
      },
      "id": "filter-new-execs",
      "name": "Filter New Executives",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-changes",
      "name": "Merge All Changes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [880, 100]
    },
    {
      "parameters": {
        "channel": "#cs-stakeholder-alerts",
        "text": "=👥 *Stakeholder Change Detected* ({{ $json.severity.toUpperCase() }})\n\n*Account:* {{ $json.account_name }} | *ARR:* ${{ $json.arr }}\n*Change:* {{ $json.description }}\n*Type:* {{ $json.change_type }}\n\n*Recommended Action:*\n{{ $json.recommended_action }}\n\n*CSM:* {{ $json.csm_email }}",
        "otherOptions": {}
      },
      "id": "slack-alert",
      "name": "Send Change Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1100, 0],
      "credentials": { "slackApi": { "id": "1", "name": "Slack API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-crm.example.com/api/activities",
        "body": {
          "json": {
            "account_id": "={{ $json.account_id }}",
            "type": "stakeholder_change",
            "description": "={{ $json.description }}",
            "action_required": "={{ $json.recommended_action }}",
            "severity": "={{ $json.severity }}"
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "salesforceOAuth2Api",
        "options": {}
      },
      "id": "log-to-crm",
      "name": "Log Change in CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 200]
    }
  ],
  "connections": {
    "Daily Schedule": { "main": [[{ "node": "Fetch Key Contacts", "type": "main", "index": 0 }]] },
    "Fetch Key Contacts": { "main": [[{ "node": "Check LinkedIn Profile", "type": "main", "index": 0 }, { "node": "Check New Executives", "type": "main", "index": 0 }]] },
    "Check LinkedIn Profile": { "main": [[{ "node": "Detect Changes", "type": "main", "index": 0 }]] },
    "Detect Changes": { "main": [[{ "node": "Merge All Changes", "type": "main", "index": 0 }]] },
    "Check New Executives": { "main": [[{ "node": "Filter New Executives", "type": "main", "index": 0 }]] },
    "Filter New Executives": { "main": [[{ "node": "Merge All Changes", "type": "main", "index": 1 }]] },
    "Merge All Changes": { "main": [[{ "node": "Send Change Alert", "type": "main", "index": 0 }, { "node": "Log Change in CRM", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "customer-success" }, { "name": "stakeholder-monitoring" }]
}
