content/templates/customer-feedback-aggregator/workflow.json
{
  "name": "Customer Feedback Aggregator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "weeks", "weeksInterval": 1 }]
        }
      },
      "id": "weekly-trigger",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.typeform.com/forms/YOUR_FORM_ID/responses?since={{ $now.minus(7, 'days').toISO() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch-nps",
      "name": "Fetch NPS Responses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, -100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://your-zendesk.zendesk.com/api/v2/search.json?query=type:ticket created>{{ $now.minus(7, 'days').format('yyyy-MM-dd') }} status:solved",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "fetch-tickets",
      "name": "Fetch Resolved Tickets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://data.g2.com/api/v1/products/YOUR_PRODUCT_ID/reviews?since={{ $now.minus(7, 'days').format('yyyy-MM-dd') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-reviews",
      "name": "Fetch G2 Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-feedback",
      "name": "Merge All Feedback",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [440, 100]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet totalPositive = 0;\nlet totalNeutral = 0;\nlet totalNegative = 0;\nconst themes = {};\nconst flaggedAccounts = [];\n\nfor (const item of items) {\n  const text = item.json.feedback_text || item.json.comment || item.json.description || '';\n  const score = item.json.nps_score || item.json.rating || item.json.satisfaction_score || 5;\n  const source = item.json.source || 'unknown';\n  const account = item.json.account_name || item.json.company || 'Unknown';\n\n  // Simple sentiment classification\n  let sentiment = 'neutral';\n  if (score >= 8 || score >= 4.5) { sentiment = 'positive'; totalPositive++; }\n  else if (score <= 5 || score <= 2) { sentiment = 'negative'; totalNegative++; }\n  else { totalNeutral++; }\n\n  // Theme extraction (keyword-based)\n  const keywords = {\n    'onboarding': ['onboarding', 'setup', 'getting started', 'implementation'],\n    'performance': ['slow', 'fast', 'speed', 'performance', 'loading'],\n    'support': ['support', 'help', 'response time', 'ticket'],\n    'features': ['feature', 'missing', 'wish', 'roadmap', 'integration'],\n    'pricing': ['price', 'cost', 'expensive', 'value', 'billing']\n  };\n\n  const lowerText = text.toLowerCase();\n  for (const [theme, words] of Object.entries(keywords)) {\n    if (words.some(w => lowerText.includes(w))) {\n      themes[theme] = (themes[theme] || 0) + 1;\n    }\n  }\n\n  if (sentiment === 'negative' && account !== 'Unknown') {\n    flaggedAccounts.push({ account, source, score, snippet: text.substring(0, 100) });\n  }\n}\n\nconst total = totalPositive + totalNeutral + totalNegative;\nconst topThemes = Object.entries(themes).sort((a, b) => b[1] - a[1]).slice(0, 5);\n\nreturn [{\n  json: {\n    total_feedback: total,\n    positive: totalPositive,\n    neutral: totalNeutral,\n    negative: totalNegative,\n    sentiment_score: total > 0 ? Math.round((totalPositive / total) * 100) : 0,\n    top_themes: topThemes.map(([theme, count]) => `${theme} (${count})`),\n    flagged_accounts: flaggedAccounts.slice(0, 10),\n    period: `${$now.minus(7, 'days').format('MMM dd')} - ${$now.format('MMM dd, yyyy')}`\n  }\n}];"
      },
      "id": "analyze-sentiment",
      "name": "Analyze Sentiment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 100]
    },
    {
      "parameters": {
        "channel": "#cs-feedback",
        "text": "=📋 *Weekly Feedback Summary* ({{ $json.period }})\n\n*Total Feedback:* {{ $json.total_feedback }}\n✅ Positive: {{ $json.positive }} | ⚠️ Neutral: {{ $json.neutral }} | 🔴 Negative: {{ $json.negative }}\n*Sentiment Score:* {{ $json.sentiment_score }}% positive\n\n*Top Themes:*\n• {{ $json.top_themes.join('\\n• ') }}\n\n*Accounts Needing Attention:*\n{{ $json.flagged_accounts.map(a => `• ${a.account} (${a.source}, score: ${a.score}): \"${a.snippet}...\"`).join('\\n') || 'None this week 🎉' }}",
        "otherOptions": {}
      },
      "id": "slack-summary",
      "name": "Post Weekly Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [880, 100],
      "credentials": { "slackApi": { "id": "1", "name": "Slack API" } }
    }
  ],
  "connections": {
    "Weekly Schedule": { "main": [[{ "node": "Fetch NPS Responses", "type": "main", "index": 0 }, { "node": "Fetch Resolved Tickets", "type": "main", "index": 0 }, { "node": "Fetch G2 Reviews", "type": "main", "index": 0 }]] },
    "Fetch NPS Responses": { "main": [[{ "node": "Merge All Feedback", "type": "main", "index": 0 }]] },
    "Fetch Resolved Tickets": { "main": [[{ "node": "Merge All Feedback", "type": "main", "index": 0 }]] },
    "Fetch G2 Reviews": { "main": [[{ "node": "Merge All Feedback", "type": "main", "index": 0 }]] },
    "Merge All Feedback": { "main": [[{ "node": "Analyze Sentiment", "type": "main", "index": 0 }]] },
    "Analyze Sentiment": { "main": [[{ "node": "Post Weekly Summary", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "customer-success" }, { "name": "feedback" }]
}
